<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>git pro</title>

</head>
<body>

<div class = "register">
    <h1>რეგისტრაცია</h1>
    <form action="/login" method="post">
        <input type="text" name="E-mail" placeholder="Seiy">
    </form>



</div>