<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>git-registr</title>

</head>
<body>

<div class = "registration">
    <h1>რეგისტრაცია</h1>
    <form action="/registration" method="post">
        <input type="text" name="E-mail" placeholder="შეიყვანე ელ. ფოსტა" required
               oninvalid="this.setCustomValidity('ელ.ფოსტა შეყვანილი არ არის')"
               oninput="this.setCustomValidity('')">
        <input type="text" name="E-mail" placeholder="შეიყვანე პაროლი" required
               oninvalid="this.setCustomValidity('პაროლი შეყვანილი არ არის')"
               oninput="this.setCustomValidity('')">
        <button type="submit"> შესვლა </button>
    </form>
    <p> უკვე ხარ დარეგისტრირებული? <a href  = '/login'> შესვლა </a> </p>

</div>
</body>
</html>